<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gatherlife.basics.mapper.UserTokenMapper">
  <resultMap id="BaseResultMap" type="cn.gatherlife.basics.model.UserToken">
    <id column="id" property="id" />
    <result column="user_id" property="userId" />
    <result column="token" jdbcType="VARCHAR" property="token" />
    <result column="expire_time" jdbcType="TIMESTAMP" property="expireTime" />
    <result column="create_by" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="last_update_by" property="lastUpdateBy" />
    <result column="last_update_time" jdbcType="TIMESTAMP" property="lastUpdateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, token, expire_time, create_by, create_time, last_update_by, last_update_time
  </sql>

</mapper>